/* ---------------->> 列表 <<---------------- */
#write ol,
#write ul {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 40px !important;
}

#write ul {
    list-style-type: disclosure-closed
}

#write ul ul {
    list-style-type: square
}

#write ol {
    list-style-type: decimal
}

#write li section {
    font-size: .9rem;
    font-size: .9rem;
}

#write .ol .li,
#write .ul .li,
#write ol li,
#write ul li {
    list-style-type: none;
    margin-bottom: 7px;
    margin-top: 7px
}

/* ---------------->> 无序列表前小圆点 <<---------------- */
#write .ul>.li:not(.tab):not(.task-list-item):before,
#write ul>li:not(.tab):not(.task-list-item):before {
    border-radius: .31em;
    content: "";
    height: .62em;
    line-height: .42em;
    margin-left: -22px;
    margin-top: 15px;
    width: .62em;
    transition: transform 0.3s;
}

#write .ul>.li:not(.tab):not(.task-list-item):hover:before,
#write ul>li:not(.tab):not(.task-list-item):hover:before {
    transform: rotate(360deg) !important;
}


/* ---------------->> 二级无序列表前小方块 <<---------------- */
#write ul>li:not(.tab):not(.task-list-item)>ul>li.md-list-item::before {
    border-radius: 0;
    transform: rotate(45deg);
}

/* ---------------->> 三级无序列表前小方块 <<---------------- */
#write ul>li:not(.tab):not(.task-list-item)>ul>li.md-list-item>ul>li.md-list-item::before {
    border-radius: 0;
    transform: unset;
}

/* ---------------->> 四级无序列表前小方块 <<---------------- */
#write ul>li:not(.tab):not(.task-list-item)>ul>li.md-list-item>ul>li.md-list-item>ul>li.md-list-item::before {
    border-radius: 0;
    background: transparent;
    border: 1.5px solid var(--theme-color);
}


#write .ol .li:before,
#write .ul .li:before,
#write ol li:before,
#write ul li:before {
    background: var(--theme-color);
    position: absolute;
}

#write .ol .li:first-child,
#write ol li:first-child {
    counter-reset: li
}

#write .ol .li:hover:before,
#write .ul .li:hover:before,
#write ol li:hover:before,
#write ul li:hover:before {
    transform: rotate(1turn)
}

#write .ul>.li:not(.tab):hover:before,
#write ul>li:not(.tab):hover:before {
    background-color: var(--main-red);
    border-color: transparent;
}

/* ---------------->> 有序列表前数字 <<---------------- */
#write .ol>.li:before,
#write ol>li:before {
    border-radius: .825em;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    font-size: .65em;
    height: 1.65em;
    line-height: 1.7em;
    margin-left: -25px;
    margin-top: 10px;
    text-align: center;
    width: 1.65em;
    transition: transform 0.5s;
}

#write .ol>.li:hover:before,
#write ol>li:hover:before {
    transform: rotate(720deg) !important;
}

#write .ol .li input,
#write .ul .li input,
#write ol li input,
#write ul li input {
    margin-bottom: 0;
    margin-top: 0
}

/* ---------------->> todo列表-复选框 <<---------------- */

#write input[type=checkbox] {
    top: 10px;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: -1.8em;
}

/* ---------------->> 删除线 <<---------------- */
del {
    color: grey;
}